.panel-header{
  display: flex;
  justify-content: flex-start;
  justify-content: space-between;

}

.panel-header img {
  margin: 100px auto;
  width: 300px;
  max-width: 100%;
  margin: 15px 0 15px;
}

.panel-table__group {
  text-align: center;
  border-collapse: collapse;
}

.panel-table__group th {
  padding: 30px;
  background-color: rgb(148, 147, 147);
  color: white;
}

.panel-table__group td {
  width: 240px;
  padding: 25px;
}

tr:nth-child(odd) {
  background:lightgray;
}

button {
  width: 265px;
  background-color: #0d6efd;
  border-color: #0d6efd;
  color: white;
}

