.container-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid gray;
  width: 600px;
 
}


.container-form img {
  width: 300px;
  max-width: 100%;
  margin: 15px 0 15px;
}

.user-form__group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px; 
  max-width: min-content;
  padding: 5px;
}

.user-form__group label {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 500;
  color: #555;
}

.user-form__group input {
  border: 1px solid #AAA;
  background-color: #fff;
  height: 30px;
  padding: 0 10px;
  width: 250px;
}

button {
  background-color: white;
  margin: 15px auto;
  width: 270px;
  padding: 15px;
}
